In [16]:
%config IPCompleter.greedy=True

import pandas as pd 

#Read Information
csv_gender_submission = "data/gender_submission.csv"
csv_test = "data/test.csv"
csv_train = "data/train.csv"

#Get DF 
df_train = pd.read_csv(csv_train)
df_test = pd.read_csv(csv_test)
df_gender_submission = pd.read_csv(csv_gender_submission)

In [6]:
df_test = df_test.merge( df_gender_submission, left_on="PassengerId", right_on="PassengerId")

df = pd.concat([df_train,df_test], ignore_index=True)

In [7]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

1. ¿Cuántas personas iban en el titanic?

In [15]:
total_passenger = df["PassengerId"].nunique()
print(f"Total Personas: {total_passenger}")

Total Personas: 1309

2. ¿ Cuantos hombres y mujeres sobrevivieron ?

In [46]:
survivors_by_gender = df[df["Survived"]==1]["Sex"].value_counts()
print ( "Sobrevivientes por genero:")
print ( f"Hombres : {survivors_by_gender['male']}")
print ( f"Mujeres : {survivors_by_gender['female']}")

Sobrevivientes por genero:
Hombres : 109
Mujeres : 385

3. ¿Cuál fue el top 10 de edad que más sobrevieron y el top 10 de edad que no lo lograron?

In [83]:
top_age_survivor = df[df["Survived"]==1].groupby( by=["Age"])["Survived"].count().sort_values(ascending=False).head(10)

top_age_not_survivor = df[df["Survived"]==0].groupby( by=["Age"])["Survived"].count().sort_values(ascending=False).head(10)

print ("Edades con más sobrevivientes y cantidad de sobrevivientes")
print(top_age_survivor)
print()
print ("Edades con mas fallecidos y cantidad de fallecidos")
print(top_age_not_survivor)

Edades con más sobrevivientes y cantidad de sobrevivientes
Age
22.0    21
24.0    20
36.0    16
30.0    16
18.0    16
27.0    15
35.0    14
29.0    13
19.0    12
45.0    12
Name: Survived, dtype: int64

Edades con mas fallecidos y cantidad de fallecidos
Age
21.0    33
25.0    27
24.0    27
30.0    24
28.0    23
18.0    23
22.0    22
26.0    20
29.0    17
19.0    17
Name: Survived, dtype: int64

4. ¿Cuántos cargos o títulos iban en el barco?

In [165]:
df["Title"] =df.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())
total_by_title = df.groupby(['Title'])['PassengerId'].count().sort_values(ascending=False)
print("Personas por Cargo  y/o titulos a bordo")
print(total_by_title)

Personas por Cargo  y/o titulos a bordo
Title
Mr              757
Miss            260
Mrs             197
Master           61
Dr                8
Rev               8
Col               4
Ms                2
Mlle              2
Major             2
Don               1
Dona              1
the Countess      1
Jonkheer          1
Lady              1
Sir               1
Mme               1
Capt              1
Name: PassengerId, dtype: int64

5. ¿Cuánto es la sumatoria del valor de los tickets en USD?

In [170]:
total_fare = df["Fare"].sum()
print(f" Valor total del ticket: {total_fare}")

Valor total del ticket: 43550.4869